choco install brave -y
choco install msiafterburner -y
choco install steam -y
choco install discord -y
choco install revo-uninstaller -y
choco install hwmonitor -y
choco install cinebench -y
choco install occt -y
choco install lycheeslicer -y
choco install streamlabs-obs -y
choco install spotify -y
choco install cmder -y
choco install fluent-terminal -y
choco install vscode -y
